.App {
  text-align: center;
  padding: 20px;
}

.Square {
  height: 40px;
  width: 40px;
  border-width: 0px;
}

.BorderedSquare {
  height: 40px;
  width: 40px;
  border: 2px solid black;  
}

.Row {
  margin-right: -2px;
}

.Column {
  margin-bottom: -2px;
}

.Canvas {
  border: 2px solid black;
}

.NoStyling {
  all: unset;
}


form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  margin: 10px;
  width: 100px;

  /* rounded edges */
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  
  
}

hr{

  /* horizontal line */
  border: 1px solid rgb(160, 160, 160);
  width: 100%;

  /* rounded edges */
  border-radius: 5px;

  /* margin */
  margin-top: 10px;
  margin-bottom: 10px;
  
}
