.App {
  text-align: center;
  padding: 20px;
}

.Square {
  height: 40px;
  width: 40px;
  border-width: 0px;
}

.BorderedSquare {
  height: 40px;
  width: 40px;
  border: 2px solid black;  
}

.Row {
  margin-right: -2px;
}

.Column {
  margin-bottom: -2px;
}

.Canvas {
  border: 2px solid black;
}

.NoStyling {
  all: unset;
}